<style type="text/css">
  body {
    background-image: url(<%= asset_path 'newuser_image.jpg' %>);
    background-size: cover;
  }
 </style>

<%= render 'form' %>

﻿<div style="margin-left: 40%;">
  <span style="margin-left: 90%">
    <%= link_to 'サインイン', controller: :login,action: :index  %>
  </span>
</div>
