<style type="text/css">
	body {
	    background-image: url(<%= asset_path 'newuser_image.jpg' %>);
	  }
</style>

<p id="notice"><%= notice %></p>

<div align="center">
  <h1><%= @user.name %></h1><br>
  <Hr Size="3" Color="#696969" Width="55%">
</div>

