<head>
  <script type="text/javascript">
    $(function() {
       $('button').click(function(){
          $('p').toggle();
       });
    });
  </script>
</head>
<h1>Setting</h1>
<body>
  Name<button>▽</button>
  <p></p>
</body>
