<style type="text/css">

  h1.pagetitle{
    font-family: "amemuchi";
    font-size: 3em;
  }
 </style>

<h1 class="pagetitle" style = "width:98%; text-align: center">Editing Item</h1>

<%= render 'form' %>

