<p id="notice"><%= notice %></p>

<div align ="center">
  <h1>Favorite</h1>
</div>

<table>
  <% @items.each do |item| %>
      <% next if item.fav == false %>
      <tbody>
        <tr>
          <td align="center">
            <%= link_to item do %>
              <%= image_tag show_image_item_path(item), class: "large-img" %>
            <% end %>
          <br />
          <%= item.itemname %>
          </td>
        </tr>
      </tbody>
  <% end %>
</table>