<style type="text/css">
  @font-face{
    font-family: "amemuchi";
    src: url("<%= asset_path 'amemuchigothic-b.ttf' %>");
  }
  h1.pagetitle{
    font-family: "amemuchi";
    font-size: 3em;
  }
  h2.font{
    font-family: "amemuchi";
    font-size: 1.4em; 
  }
</style>

<p id="notice"><%= notice %></p>

<div align ="center">

  <h1 class ="pagetitle">Want</h1>

  <table>
    <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><h2 class="font">▽　<%= link_to category.categoryname, search_wantcategory_items_path(category: category) %></h2></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

